html {
  font: 5vmin/1.3 Serif;
  overflow: scroll;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
  margin: 0;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: -1;
}

body::before {
  text-shadow: 1.3027148991em 1.2384495646em 5px hsl(36.0169205928, 100%, 50%), 0.5180928192em 0.1624296196em 5px hsl(261.8207142982, 100%, 50%), 1.5131384712em 1.8756020749em 5px hsl(200.5693647048, 100%, 50%), 1.8631382776em -0.1413774431em 5px hsl(12.2414248407, 100%, 50%), 1.3917186436em 2.1483413989em 5px hsl(290.1345730723, 100%, 50%), -0.0820832085em 1.4009712569em 5px hsl(342.3370172156, 100%, 50%), 0.4892902447em -0.3072755159em 5px hsl(249.3402081743, 100%, 50%), -0.1331997834em 0.6654329786em 5px hsl(299.5193907402, 100%, 50%), 1.4308350356em 0.6914533678em 5px hsl(209.5073175839, 100%, 50%), 1.5290007691em 1.9204225419em 5px hsl(113.727129977, 100%, 50%), 1.4475513292em 2.0198567387em 5px hsl(262.9278858432, 100%, 50%), 1.597627236em 1.9516920501em 5px hsl(317.9935387003, 100%, 50%), -0.1443300806em 0.6640045482em 5px hsl(104.7853753715, 100%, 50%), 1.3142278311em 1.4407314515em 5px hsl(98.5797847044, 100%, 50%), 2.0156853942em -0.3767050735em 5px hsl(190.4341087759, 100%, 50%), 0.0692791009em 1.9187651187em 5px hsl(55.8639699901, 100%, 50%), 1.01949158em -0.3462319369em 5px hsl(130.5011764978, 100%, 50%), 1.8271323172em 0.0358165687em 5px hsl(4.4625909639, 100%, 50%), -0.0506688234em 0.8499015583em 5px hsl(310.8201970802, 100%, 50%), 2.4601414167em 1.772306279em 5px hsl(123.3586299604, 100%, 50%), 1.7463851561em 0.1357389216em 5px hsl(309.2283720857, 100%, 50%);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.8085925503em 1.621817059em 5px hsl(88.5001899054, 100%, 50%), 1.7671097367em -0.1466601318em 5px hsl(348.2595703125, 100%, 50%), 1.9452040994em 2.2927291822em 5px hsl(202.855969155, 100%, 50%), 1.973226193em 1.4372064704em 5px hsl(250.6679577394, 100%, 50%), 0.7296038268em 1.1041624504em 5px hsl(268.8537900182, 100%, 50%), 0.751689427em 0.4045303905em 5px hsl(277.9617355125, 100%, 50%), 2.200102365em 1.36979642em 5px hsl(334.5232448759, 100%, 50%), -0.4501178998em -0.3531161922em 5px hsl(256.2653194094, 100%, 50%), 1.1733451623em -0.2899976395em 5px hsl(338.0625100715, 100%, 50%), 0.4029641177em 2.3768026644em 5px hsl(315.5591158704, 100%, 50%), -0.0526496649em 1.9535614575em 5px hsl(276.5288487551, 100%, 50%), 0.9322375429em -0.1980280923em 5px hsl(55.583965334, 100%, 50%), 1.5842990497em 2.0426344778em 5px hsl(333.4125501999, 100%, 50%), 1.7905002701em 1.8752451755em 5px hsl(337.0783095472, 100%, 50%), 1.5005036216em 1.8836943709em 5px hsl(2.6245898013, 100%, 50%), 0.6156525317em 0.745357587em 5px hsl(30.6564099816, 100%, 50%), 0.6245365597em 1.2074312654em 5px hsl(125.3103414587, 100%, 50%), 1.8853095814em -0.082825771em 5px hsl(317.7983396021, 100%, 50%), 0.8112607042em 1.4629747257em 5px hsl(310.856055034, 100%, 50%), 1.2552872662em 0.3507866865em 5px hsl(291.6958124215, 100%, 50%), -0.3167731049em 2.0011867587em 5px hsl(1.5841709704, 100%, 50%);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.1754938706em 1.576407964em 5px hsl(190.7301689778, 100%, 50%), 1.0601024754em 1.7166625554em 5px hsl(286.5473822105, 100%, 50%), -0.4297334732em 2.2843229076em 5px hsl(100.9521969624, 100%, 50%), 2.0639048004em 0.1823971224em 5px hsl(95.186046312, 100%, 50%), 1.7176617748em 2.4398795427em 5px hsl(108.8561647223, 100%, 50%), 1.3306706419em 0.1405450962em 5px hsl(275.4876885791, 100%, 50%), 1.1802228012em 0.9713276118em 5px hsl(21.0567563169, 100%, 50%), 0.0757355425em 1.269730327em 5px hsl(269.666294625, 100%, 50%), 2.3448813623em 1.0096419349em 5px hsl(36.2255038774, 100%, 50%), 2.2142909149em 2.0262976277em 5px hsl(329.2396911157, 100%, 50%), -0.2380436045em -0.1067220448em 5px hsl(321.7622490962, 100%, 50%), 1.0725123632em 1.6565746744em 5px hsl(158.8068712819, 100%, 50%), 0.8100379656em 0.834232843em 5px hsl(273.8122070171, 100%, 50%), 1.5697877462em 0.6521400443em 5px hsl(166.8724812487, 100%, 50%), 1.0076105283em 1.2373620453em 5px hsl(93.4421255301, 100%, 50%), 2.0401942939em 1.8091961291em 5px hsl(86.1243207836, 100%, 50%), 0.753550973em 1.0954168586em 5px hsl(62.9834949741, 100%, 50%), 0.280806744em -0.2211931437em 5px hsl(165.2462680669, 100%, 50%), 0.4651203827em 2.1981627074em 5px hsl(263.9302709348, 100%, 50%), 2.0266010306em 1.7016915714em 5px hsl(256.0508760415, 100%, 50%), -0.4309799558em 2.4941328641em 5px hsl(124.2776285647, 100%, 50%);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 2.2832187993em 1.0404422094em 5px hsl(176.76585997, 100%, 50%), -0.3581512158em 2.2890530624em 5px hsl(25.283872804, 100%, 50%), 0.0049672747em 0.9885345482em 5px hsl(111.815118643, 100%, 50%), 1.6241720399em 0.9678669677em 5px hsl(122.5425605534, 100%, 50%), 0.784683447em 1.3600353139em 5px hsl(336.5788661839, 100%, 50%), -0.2953330121em 1.8663897101em 5px hsl(355.4028714677, 100%, 50%), 0.541539107em 2.1187309555em 5px hsl(223.5431141484, 100%, 50%), 0.899838882em 0.4636736155em 5px hsl(83.0932525047, 100%, 50%), 0.7066647036em 1.6249900731em 5px hsl(53.213136981, 100%, 50%), -0.3137471833em 1.2286542864em 5px hsl(156.4204623973, 100%, 50%), 1.875432686em 1.1797534826em 5px hsl(359.0233638897, 100%, 50%), 1.3671017652em 1.0132779645em 5px hsl(52.9154019498, 100%, 50%), 1.6634809172em 0.1747699892em 5px hsl(3.8783675831, 100%, 50%), 0.5579627916em 1.187482062em 5px hsl(101.6006018551, 100%, 50%), 2.3140142745em 0.767178832em 5px hsl(32.6649088612, 100%, 50%), 0.4468752758em 2.3700411438em 5px hsl(232.3873617605, 100%, 50%), 1.3322254912em 0.3065686791em 5px hsl(4.5030151591, 100%, 50%), 1.8342909228em -0.4552629779em 5px hsl(180.2137728591, 100%, 50%), 0.2583941565em 2.4583339349em 5px hsl(212.9945685195, 100%, 50%), 0.8216106087em 2.4252794211em 5px hsl(244.6730436724, 100%, 50%), 1.7746454195em -0.3012095107em 5px hsl(123.7492927477, 100%, 50%);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
body > section:nth-of-type(1) button#event {
  z-index: 1;
  border: none;
  font-size: large;
  padding: 10px 25px;
  display: block;
  position: absolute;
  left: 40%;
  border-radius: 5px;
}
body > section:nth-of-type(1) #event:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease-in;
}
body > section:nth-of-type(1) a {
  z-index: 3;
}

.container {
  width: 80%;
  margin: auto;
  padding: 2rem;
}

.slider_wrapper {
  position: relative;
  max-width: 28rem;
  margin: 0 auto;
}
.slider_wrapper .slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider_wrapper .slider::-webkit-scrollbar {
  display: none;
}
.slider_wrapper .slider img {
  display: block;
  flex: 1 0 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.slider_wrapper .slider_nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.slider_wrapper .slider_nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}

@media (0px <= width <= 853px) {
  .onea a {
    display: none;
  }
  .review-cards img {
    display: none;
  }
  section:nth-of-type(2) > .container > #backgroundcolor {
    display: block;
  }
  footer #img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */