* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.container1 {
  max-width: 100vw;
  margin: auto;
  /* background-color: rgb(255, 245, 244);
  border-top: 0.7rem solid rgb(63, 46, 136);
  border-bottom: 0.7rem solid rgb(63, 46, 136); */
  background: linear-gradient(0.5turn, #123, #ebf8e148, #f69c3c00);
}

#img {
  width: 350px;
  height: 180px;
  border-radius: 10px;
  margin-bottom: 16px;
  object-fit: cover;
  margin-top: -14px;
}

#firstp {
  font-size: 15px;
  font-weight: 00;
  width: 350px;
  height: 34px;
  line-height: 25px;
  margin-bottom: 36px;
  color: white;
  /* color: gray; */
}

#bgcolor {
  max-width: 1350px;
  /* border: 1px solid red; */
  margin: auto;
}

#flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
  /* gap: 60px; */
}

h3 {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 40px;
}

.fonts > h3 ~ div {
  /* color: rgba(0, 0, 0, 0.612); */
  color: white;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 40px;
}

.fonts > h3 ~ div:hover {
  color: black;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#line2 {
  width: 100%;
  height: 2px;
  background-color: blue;
  background: radial-gradient(
    circle,
    rgba(241, 0, 215, 1) 0%,
    rgba(255, 31, 47, 1) 15%,
    rgba(242, 83, 73, 1) 33%,
    rgba(255, 169, 63, 1) 49%,
    rgba(179, 214, 118, 1) 63%,
    rgba(0, 134, 202, 1) 83%,
    rgba(0, 0, 255, 1) 100%
  );
}

#flex2 {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  color: white;
  cursor: pointer;
  gap: 15px;
}

#flex3 {
  display: flex;
  gap: 5px;
}

#flex4 {
  display: flex;
  gap: 15px;
}
#flex4 > p {
  font-size: 15px;
}

#flex4 > p:hover {
  color: black;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.img2 {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}
.img2:hover {
  transform: scale(1.4);
}
.copyright {
  transition: transform 0.3s ease;
}
.copyright:hover {
  transform: scale(1.1);
  color: black;
}

main h1 {
  font-weight: 800;
  text-align: center;
}

.card {
  width: 350px;
  height: auto;
  border-radius: 37px;
  background: linear-gradient(145deg, #2b29af, #3331d0);
  box-shadow: 16px 16px 32px #1e1d7a, -16px -16px 32px #423fff;
  z-index: 1;
}

.card:hover {
  transform: translateY(-15px);
  transition: transform 0.3s ease;
}

.img3 {
  width: 300px;
  height: 192px;
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
#mainflex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 100px;
}
.boxp {
  font-size: 15px;
  color: rgb(107, 145, 252);
  border: 1px solid rgb(165 165 165 / 50%);
  border-radius: 32px;
  padding: 0.2rem 0.7rem;
  display: inline-block;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.boxp + p {
  width: 310px;
  height: 90px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 25px;
  margin-bottom: 30px;
  cursor: pointer;
}
