html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: -0.2173072153em -0.0539237251em 5px hsl(340.8013829419, 100%, 50%), 2.4785423871em 0.5709071184em 5px hsl(105.869962536, 100%, 50%), 2.1726213529em -0.1883706891em 5px hsl(248.137091521, 100%, 50%), 1.2114303907em 2.0559424056em 5px hsl(198.9418789878, 100%, 50%), 1.3063124901em 0.727380812em 5px hsl(307.2907371997, 100%, 50%), 0.9134171456em -0.4224213448em 5px hsl(178.4539319582, 100%, 50%), 0.2899256578em -0.4222290881em 5px hsl(225.7783082036, 100%, 50%), 1.1020970996em 1.1626826457em 5px hsl(236.1905895121, 100%, 50%), 2.443939978em 1.5245649591em 5px hsl(234.1632818606, 100%, 50%), 2.4277602261em 2.2773264772em 5px hsl(76.3190662657, 100%, 50%), 2.1493177013em 2.0112314254em 5px hsl(208.1893140616, 100%, 50%), 1.2008412453em 1.2891716773em 5px hsl(81.7278185501, 100%, 50%), 2.4502265511em 2.3396812206em 5px hsl(283.7667167784, 100%, 50%), 1.5033303146em 1.3086947111em 5px hsl(201.5513884967, 100%, 50%), 2.4346055753em 2.2342626849em 5px hsl(303.5389324255, 100%, 50%), 0.1211509866em 2.2589666979em 5px hsl(57.3950656642, 100%, 50%), 1.0183971853em -0.4435721595em 5px hsl(34.949338631, 100%, 50%), 0.797272008em 0.0598594011em 5px hsl(250.3626230241, 100%, 50%), 2.051463938em -0.4728757031em 5px hsl(106.9635490575, 100%, 50%), 0.2608164754em 0.0219253755em 5px hsl(162.2706894401, 100%, 50%), 1.8962342417em 1.4655481921em 5px hsl(20.8457162538, 100%, 50%), 1.9423757098em -0.4044254404em 5px hsl(196.3146684036, 100%, 50%), 0.7496497311em -0.2396472817em 5px hsl(166.8473928376, 100%, 50%), -0.1257261642em -0.32635722em 5px hsl(171.4530405257, 100%, 50%), -0.0781338223em 1.1566827921em 5px hsl(137.8331765852, 100%, 50%), 1.6448428673em 0.2874449206em 5px hsl(345.9923032709, 100%, 50%), 0.9304048334em 1.8375027042em 5px hsl(80.0286850722, 100%, 50%), 2.1533849658em 1.1023875431em 5px hsl(158.4205814858, 100%, 50%), 0.9908563594em -0.3495448782em 5px hsl(287.0596110502, 100%, 50%), 0.7721612479em 1.1409712462em 5px hsl(265.864263954, 100%, 50%), -0.4609523308em 1.9494588739em 5px hsl(227.5306943155, 100%, 50%), 2.3972848169em 1.8108319916em 5px hsl(178.0144056943, 100%, 50%), 0.3949605114em 0.5438908653em 5px hsl(113.0793687377, 100%, 50%), 2.4179075754em -0.0548124722em 5px hsl(23.2623397154, 100%, 50%), 0.635885239em 1.2854782011em 5px hsl(84.4456287222, 100%, 50%), 1.9004799396em 0.1786202619em 5px hsl(229.2497493335, 100%, 50%), -0.180877385em 2.0044137578em 5px hsl(276.8052595314, 100%, 50%), 2.466417285em 2.3432591419em 5px hsl(270.1049199168, 100%, 50%), 1.7056346741em 1.7643200417em 5px hsl(341.6931107571, 100%, 50%), 1.5547793907em 1.0541912967em 5px hsl(113.1171445848, 100%, 50%), -0.1228182146em 1.800180806em 5px hsl(29.0965150216, 100%, 50%);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.1300997973em 2.2329241849em 5px hsl(66.0815320051, 100%, 50%), 0.4044786248em 0.1248929517em 5px hsl(217.4761627926, 100%, 50%), -0.3222494262em -0.251016437em 5px hsl(10.0462294877, 100%, 50%), 0.1337355879em 1.2178485295em 5px hsl(85.136086201, 100%, 50%), 2.394357567em 2.2686291275em 5px hsl(127.1578325216, 100%, 50%), -0.4664971685em 0.0219190553em 5px hsl(22.981477644, 100%, 50%), -0.4192189357em 1.3128369618em 5px hsl(11.6444168352, 100%, 50%), 2.4403546119em -0.4885316086em 5px hsl(98.4749966253, 100%, 50%), 2.4058858245em 1.2129924798em 5px hsl(261.8351787155, 100%, 50%), 1.2277623649em 1.3633948728em 5px hsl(27.7714687287, 100%, 50%), 2.1422453268em 1.1380470297em 5px hsl(355.7986561509, 100%, 50%), -0.2666448133em 1.4399442534em 5px hsl(27.563480545, 100%, 50%), 1.4274901409em 1.8391889713em 5px hsl(239.6882824286, 100%, 50%), 1.2336572382em 0.7137236717em 5px hsl(99.9811091894, 100%, 50%), 0.2263529712em 0.2186264801em 5px hsl(30.5082642631, 100%, 50%), 1.0826845243em -0.1283232388em 5px hsl(173.9210795557, 100%, 50%), 0.2719762856em 2.2769817729em 5px hsl(190.4307531943, 100%, 50%), 1.123466687em 1.858025349em 5px hsl(113.3609708438, 100%, 50%), 1.0167373765em -0.1270560723em 5px hsl(27.6432989128, 100%, 50%), -0.1958878932em 1.3471260664em 5px hsl(262.0648019231, 100%, 50%), -0.1565527098em 1.7696557288em 5px hsl(52.6812018132, 100%, 50%), 0.7007600702em 1.430340733em 5px hsl(39.3553811838, 100%, 50%), 2.3506593574em 0.449551961em 5px hsl(192.7980495682, 100%, 50%), -0.1256016084em -0.1923919141em 5px hsl(263.1575236919, 100%, 50%), 1.7923314755em -0.304716084em 5px hsl(165.858306233, 100%, 50%), 2.2064263276em 1.9564565159em 5px hsl(130.4702176347, 100%, 50%), -0.1656817544em 2.275033715em 5px hsl(155.9063223623, 100%, 50%), 0.07852484em 2.2162257623em 5px hsl(85.9535945924, 100%, 50%), 1.1225906545em 1.5247077137em 5px hsl(21.7268870745, 100%, 50%), 0.6194345898em -0.0582185537em 5px hsl(79.5485369829, 100%, 50%), 0.6001467417em -0.2769666447em 5px hsl(252.7162309039, 100%, 50%), 1.2614081674em 0.5620633951em 5px hsl(233.2359013492, 100%, 50%), 0.0919216172em 0.3375243473em 5px hsl(105.708313991, 100%, 50%), 2.2453832265em -0.4969788922em 5px hsl(172.2316173541, 100%, 50%), 0.5179795654em 0.0627435846em 5px hsl(355.104715477, 100%, 50%), 2.0586629233em 2.1615183733em 5px hsl(218.6943041027, 100%, 50%), -0.0585186371em 0.3325583839em 5px hsl(221.9097517942, 100%, 50%), 2.210632291em 0.966728102em 5px hsl(150.8410810356, 100%, 50%), 0.9396879999em 2.3181118544em 5px hsl(11.5594415251, 100%, 50%), 1.7817835439em 2.3966234591em 5px hsl(236.4741732795, 100%, 50%), -0.2628178738em 1.8271426482em 5px hsl(232.3647950883, 100%, 50%);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: -0.4803049698em 0.1886472002em 5px hsl(13.0952394607, 100%, 50%), 1.9543939424em -0.4701080843em 5px hsl(89.94832658, 100%, 50%), 2.2797548105em 0.0724380791em 5px hsl(16.9397515261, 100%, 50%), 2.4822240211em 1.7709581382em 5px hsl(122.3970684149, 100%, 50%), 1.1683061467em -0.2246126633em 5px hsl(349.7702428408, 100%, 50%), 0.4206244814em 0.4472117073em 5px hsl(45.7099590763, 100%, 50%), 0.2640966867em 2.4120713237em 5px hsl(277.7019089073, 100%, 50%), 1.0462447688em 0.117407839em 5px hsl(96.5552309824, 100%, 50%), 0.5547909132em -0.2880232156em 5px hsl(199.2449042872, 100%, 50%), 0.4960110643em 1.0240910138em 5px hsl(135.9083338268, 100%, 50%), 0.8088527505em 0.9939011714em 5px hsl(299.0194316146, 100%, 50%), 0.774881045em 0.2104401062em 5px hsl(223.187419288, 100%, 50%), 2.2967791434em 1.8257447645em 5px hsl(204.9753022568, 100%, 50%), -0.1132925274em 1.2237581492em 5px hsl(251.2208463876, 100%, 50%), 0.1826787386em 2.2298351676em 5px hsl(41.4423098815, 100%, 50%), 1.7424609514em 0.5353430432em 5px hsl(239.5771108637, 100%, 50%), 0.2340014456em 1.1889841625em 5px hsl(341.5840971391, 100%, 50%), -0.3308686884em -0.0706871112em 5px hsl(15.3616816017, 100%, 50%), 0.1040817915em -0.435518895em 5px hsl(295.9495307593, 100%, 50%), -0.3981211643em 0.7008520617em 5px hsl(29.2906012201, 100%, 50%), 0.5830299316em 1.9789709234em 5px hsl(136.6450372202, 100%, 50%), 1.5501232543em 1.9569846817em 5px hsl(31.7889581595, 100%, 50%), 0.6787574193em 0.8729784588em 5px hsl(71.692191314, 100%, 50%), 0.2118312653em 0.1861187957em 5px hsl(150.1259175795, 100%, 50%), 1.5368040765em 1.8813710384em 5px hsl(273.1297149296, 100%, 50%), 0.6041067865em 1.2197094169em 5px hsl(190.198758432, 100%, 50%), 0.8732446593em 0.6910726761em 5px hsl(195.0273915232, 100%, 50%), 1.9075673108em 1.9285591369em 5px hsl(277.3631907075, 100%, 50%), 2.4690111755em 1.7523152721em 5px hsl(353.0227707585, 100%, 50%), -0.0088917946em 0.8307331699em 5px hsl(267.7889541984, 100%, 50%), 1.524952431em 1.8820976679em 5px hsl(170.8595087845, 100%, 50%), 0.9965591916em 1.137620766em 5px hsl(341.0094462723, 100%, 50%), 0.8301214095em -0.4786075919em 5px hsl(318.6807020237, 100%, 50%), 0.6368941697em 1.0996980822em 5px hsl(192.5464030519, 100%, 50%), -0.4787497496em -0.0864582065em 5px hsl(337.075129571, 100%, 50%), 1.4821597569em 1.4268463445em 5px hsl(325.5439101893, 100%, 50%), 0.01469746em 1.2671685289em 5px hsl(305.6644703508, 100%, 50%), 0.9184709358em 1.0746917064em 5px hsl(117.6844600741, 100%, 50%), 1.8698389974em 2.370508466em 5px hsl(153.0132574254, 100%, 50%), 1.3170864627em 1.6967135547em 5px hsl(99.1052798585, 100%, 50%), 0.8301956233em 0.8064644381em 5px hsl(65.6240067441, 100%, 50%);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: -0.1185130727em 2.3223066703em 5px hsl(71.6430424148, 100%, 50%), 1.9620397318em 1.6195059999em 5px hsl(347.877083398, 100%, 50%), 2.2219080943em 0.2824194551em 5px hsl(59.8548674692, 100%, 50%), 0.4758116832em 0.7046566444em 5px hsl(326.7288436904, 100%, 50%), 0.3432306481em 0.0084211297em 5px hsl(184.1529149088, 100%, 50%), 1.4730844523em 2.1864171544em 5px hsl(25.6614606503, 100%, 50%), -0.4750976715em 1.6722283347em 5px hsl(227.484631217, 100%, 50%), 0.8773695562em 1.8163417828em 5px hsl(170.4897359388, 100%, 50%), 0.6789849439em 2.1702595928em 5px hsl(149.2665164259, 100%, 50%), 0.467259952em 1.5122549205em 5px hsl(92.2565197547, 100%, 50%), 1.9994401625em 1.806116216em 5px hsl(208.9365085527, 100%, 50%), -0.1801554108em 1.3969827344em 5px hsl(215.4069673967, 100%, 50%), 1.779738895em -0.4347706909em 5px hsl(333.2311751588, 100%, 50%), 1.6251418687em -0.0218903627em 5px hsl(355.1173658983, 100%, 50%), 1.2976477032em 2.1481501517em 5px hsl(67.7467325014, 100%, 50%), 0.321249697em 0.3613654073em 5px hsl(37.4560868535, 100%, 50%), -0.2607593733em -0.4831421156em 5px hsl(188.674760698, 100%, 50%), -0.125381018em 1.7384851522em 5px hsl(257.7101222655, 100%, 50%), 0.3860960955em 1.9722961832em 5px hsl(39.8240884925, 100%, 50%), 1.1630090223em 0.8046697363em 5px hsl(71.2068906627, 100%, 50%), 1.982570966em 0.0580192118em 5px hsl(133.7705456953, 100%, 50%), 1.2799160136em 2.0695008729em 5px hsl(274.4243676291, 100%, 50%), 2.1020191104em 1.1868543292em 5px hsl(36.577103954, 100%, 50%), 0.5745718976em -0.135153996em 5px hsl(10.9166878076, 100%, 50%), -0.4463414748em 2.0879039311em 5px hsl(180.2233462726, 100%, 50%), 1.1988095511em 1.8620569166em 5px hsl(59.1397240604, 100%, 50%), 1.8861132228em 0.0974991891em 5px hsl(188.449323075, 100%, 50%), 1.4943983985em 1.9026104974em 5px hsl(259.3847553705, 100%, 50%), 1.1756957707em 0.5722707841em 5px hsl(76.8362284228, 100%, 50%), 2.3286714353em 0.2423049108em 5px hsl(328.5495824407, 100%, 50%), 1.965227968em 0.2820379044em 5px hsl(34.0987101131, 100%, 50%), 0.0485380128em 0.1222728545em 5px hsl(333.3052810548, 100%, 50%), -0.4527130629em 0.7012689927em 5px hsl(276.2658399147, 100%, 50%), -0.2372537712em 1.1378291909em 5px hsl(245.9878435257, 100%, 50%), 1.8559375724em -0.4646361849em 5px hsl(15.1776446207, 100%, 50%), 2.3232878351em 2.0879444428em 5px hsl(231.4378824484, 100%, 50%), 0.4222790771em -0.4862903649em 5px hsl(28.9002380471, 100%, 50%), 1.6454394945em 2.4600080387em 5px hsl(174.9043701418, 100%, 50%), 2.1697776511em 2.0263269956em 5px hsl(203.6204613928, 100%, 50%), 1.7989905525em 1.1461070225em 5px hsl(176.5872091828, 100%, 50%), 1.5787085004em 1.725502649em 5px hsl(123.003374255, 100%, 50%);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
body > section:nth-of-type(1) button#event {
  z-index: 1;
  border: none;
  font-size: large;
  padding: 10px 25px;
  display: block;
  position: absolute;
  left: 40%;
  border-radius: 5px;
}
body > section:nth-of-type(1) #event:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease-in;
}
body > section:nth-of-type(1) a {
  z-index: 3;
}

@keyframes slide {
  0% {
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out;
  }
  50% {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  100% {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
}
.container {
  padding: 2rem;
}

.slider_wrapper {
  position: relative;
  max-width: 28rem;
  margin: 0 auto;
}
.slider_wrapper .slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider_wrapper .slider::-webkit-scrollbar {
  display: none;
}
.slider_wrapper .slider img {
  display: block;
  flex: 1 0 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.slider_wrapper .slider_nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.slider_wrapper .slider_nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}

@media (0px <= width <= 853px) {
  .onea a {
    display: none;
  }
  .review-cards img {
    display: none;
  }
  section:nth-of-type(2) > .container > #backgroundcolor {
    display: block;
  }
  footer #img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */