html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 2.098294872em 2.1497854481em 5px hsl(81.059232765, 100%, 50%), 0.0364196168em 0.8376531838em 5px hsl(195.5382227232, 100%, 50%), -0.1817452134em -0.0882559898em 5px hsl(326.8916193477, 100%, 50%), 0.4311812578em 1.2852079561em 5px hsl(174.3941260156, 100%, 50%), -0.1655188898em 1.5975775083em 5px hsl(296.1015195556, 100%, 50%), 1.5626165203em -0.2281368518em 5px hsl(42.5099969166, 100%, 50%), 0.1274059664em 1.3140815592em 5px hsl(34.1857501756, 100%, 50%), 0.376375955em 0.8531930922em 5px hsl(222.6565070275, 100%, 50%), 0.5233949644em 0.7450344459em 5px hsl(228.0741257768, 100%, 50%), 0.7706154583em 0.6867961889em 5px hsl(329.9826860436, 100%, 50%), -0.1212879349em 0.8342082731em 5px hsl(331.2368370971, 100%, 50%), 1.4313400667em 0.8066975336em 5px hsl(60.5825132729, 100%, 50%), 1.3325387886em 0.6599552038em 5px hsl(13.5225376341, 100%, 50%), 0.4791429838em 1.5059736761em 5px hsl(273.7605096854, 100%, 50%), -0.0983830824em -0.0173308414em 5px hsl(244.7215596038, 100%, 50%), 0.2831620358em 2.0129774436em 5px hsl(50.72931391, 100%, 50%), 1.4713461469em 0.9115850763em 5px hsl(31.445565048, 100%, 50%), 1.9869952417em 0.7876744338em 5px hsl(298.4779112484, 100%, 50%), 1.1738440573em 0.2547343154em 5px hsl(268.8683414016, 100%, 50%), 2.1173918695em 1.3321268506em 5px hsl(296.9049409342, 100%, 50%), 0.8282943641em 1.2257233354em 5px hsl(41.6466378379, 100%, 50%), 1.5607058271em 1.7129258121em 5px hsl(236.7699507965, 100%, 50%), 0.3918889806em 1.1206705915em 5px hsl(310.3954884852, 100%, 50%), 0.5525979015em -0.2599385142em 5px hsl(330.7667391628, 100%, 50%), 0.7481668896em 1.9611904598em 5px hsl(79.083945874, 100%, 50%), 2.2817561729em -0.0378536179em 5px hsl(222.612333118, 100%, 50%), 0.8436482412em 0.9966081055em 5px hsl(157.5471420165, 100%, 50%), 2.1211354063em 2.3299949302em 5px hsl(130.4510784668, 100%, 50%), 2.3325709198em 1.3602987059em 5px hsl(204.7132728143, 100%, 50%), 1.0119614203em -0.4894288549em 5px hsl(322.175204992, 100%, 50%), 0.0621312878em 2.2805593148em 5px hsl(98.5329659591, 100%, 50%), 0.7564435308em 0.4387068114em 5px hsl(78.2472059285, 100%, 50%), 0.2792293361em 0.7013424905em 5px hsl(82.9259255189, 100%, 50%), 0.7935958608em 0.0293820413em 5px hsl(204.7057123819, 100%, 50%), -0.470388862em 2.009287454em 5px hsl(105.1653650753, 100%, 50%), 1.2626276163em 0.5087114126em 5px hsl(248.1809565432, 100%, 50%), 1.2238405199em -0.4684214119em 5px hsl(178.6855001096, 100%, 50%), 2.1446171795em 0.8064070741em 5px hsl(149.5257236173, 100%, 50%), 1.0436132642em 1.4362935901em 5px hsl(356.3861786445, 100%, 50%), 1.6551828157em -0.1029960801em 5px hsl(133.3603671155, 100%, 50%), 0.3459534222em -0.3748387895em 5px hsl(237.2461902262, 100%, 50%);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: -0.1493870797em 0.0607028853em 5px hsl(304.2238676096, 100%, 50%), 0.7101943131em -0.2271146807em 5px hsl(84.3175920059, 100%, 50%), 1.7128129831em 2.4572132167em 5px hsl(301.8566001878, 100%, 50%), 0.4366865378em 1.9622236351em 5px hsl(255.4487009906, 100%, 50%), 2.1837806144em 0.3246680819em 5px hsl(200.3317098063, 100%, 50%), 0.3139165231em 0.1726493646em 5px hsl(327.4909221486, 100%, 50%), 0.4708586382em -0.4375514694em 5px hsl(188.8135164987, 100%, 50%), 1.6889440629em 0.2260167619em 5px hsl(101.4650405923, 100%, 50%), 1.2446513938em 0.2323098966em 5px hsl(229.8877160443, 100%, 50%), 0.7633354535em 1.3214578608em 5px hsl(263.3298205455, 100%, 50%), 0.5604356981em 2.3014385899em 5px hsl(2.725369197, 100%, 50%), 1.4029801962em 1.9435050903em 5px hsl(122.2315753328, 100%, 50%), 0.1701530506em 2.3058804879em 5px hsl(60.2940839835, 100%, 50%), 2.1889732345em 1.6886269301em 5px hsl(280.9174316401, 100%, 50%), 1.1269253378em 0.5966093771em 5px hsl(12.1626752414, 100%, 50%), 1.0563785387em 1.722976635em 5px hsl(122.8657477939, 100%, 50%), 0.1056770737em -0.049565103em 5px hsl(230.0597925699, 100%, 50%), 0.9811272559em 1.1612877774em 5px hsl(20.2437254034, 100%, 50%), 0.8222456995em 1.4685775693em 5px hsl(136.0886643713, 100%, 50%), 1.4093377821em 2.36913796em 5px hsl(218.2874737131, 100%, 50%), 1.0045486459em 2.1928098182em 5px hsl(24.3555503498, 100%, 50%), 0.6680636134em 2.1255080369em 5px hsl(28.2415405901, 100%, 50%), 0.1550125237em 2.1397130825em 5px hsl(116.6204102089, 100%, 50%), -0.4604868801em 2.0924181517em 5px hsl(340.3674820037, 100%, 50%), 1.6230759389em 1.4235075307em 5px hsl(56.6135454854, 100%, 50%), 2.4658681547em 2.0890330212em 5px hsl(167.8309824251, 100%, 50%), 0.7568937852em 2.1039885611em 5px hsl(72.9585968557, 100%, 50%), 2.3776058299em 2.3728211643em 5px hsl(16.9824621544, 100%, 50%), 0.3601317485em 1.7066962624em 5px hsl(19.8526374416, 100%, 50%), 1.9655424508em 0.0119750385em 5px hsl(122.6619107713, 100%, 50%), 2.3224057727em 1.5884573765em 5px hsl(219.7406760624, 100%, 50%), 0.2321039711em 0.3915800901em 5px hsl(12.7302996515, 100%, 50%), 0.277415405em 2.2492383594em 5px hsl(337.5600105333, 100%, 50%), 1.1646914174em 2.2073955289em 5px hsl(185.1768743949, 100%, 50%), 1.0333956123em 1.2773477755em 5px hsl(319.8368151138, 100%, 50%), 1.241730646em -0.0800281781em 5px hsl(167.3070039983, 100%, 50%), 0.442644842em 0.5249544783em 5px hsl(17.0281667272, 100%, 50%), 0.8211700336em 2.4604708553em 5px hsl(144.4420158869, 100%, 50%), 1.1195686089em -0.2335293373em 5px hsl(22.2282847301, 100%, 50%), 1.9136164773em 1.4269016027em 5px hsl(89.970531639, 100%, 50%), 1.7892594386em 0.8529117924em 5px hsl(99.02509526, 100%, 50%);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: -0.4458654736em 2.4695804806em 5px hsl(34.1145607755, 100%, 50%), 0.062928736em -0.0829125477em 5px hsl(93.1254523781, 100%, 50%), 2.126686754em 0.6329399683em 5px hsl(248.9545380611, 100%, 50%), 0.1562467455em 0.2426392049em 5px hsl(353.130452962, 100%, 50%), 0.5246616274em 2.3206268654em 5px hsl(208.5158386779, 100%, 50%), 0.6298558776em 1.7888963998em 5px hsl(43.5855420668, 100%, 50%), 2.0667134616em 0.2715808808em 5px hsl(265.8455009511, 100%, 50%), 1.827846728em 2.4814575395em 5px hsl(162.5725204868, 100%, 50%), 0.8060587233em -0.2546830065em 5px hsl(354.9790133441, 100%, 50%), -0.1226186333em 0.6423359175em 5px hsl(49.438235568, 100%, 50%), 2.4026664653em 1.7648018904em 5px hsl(320.0944649076, 100%, 50%), 1.6105698894em -0.2252519415em 5px hsl(202.9508771939, 100%, 50%), 1.3473943843em 1.6913904124em 5px hsl(178.224693111, 100%, 50%), 1.0565750309em -0.3682735171em 5px hsl(138.0092208877, 100%, 50%), 2.0159877832em 2.0826863324em 5px hsl(343.6327741103, 100%, 50%), -0.2880471132em 0.870210614em 5px hsl(171.2741999464, 100%, 50%), 1.3299576878em 1.3557451308em 5px hsl(54.0352309702, 100%, 50%), 1.2214210632em 0.417009704em 5px hsl(246.6748002581, 100%, 50%), 1.6778290323em -0.3632570099em 5px hsl(244.511337816, 100%, 50%), -0.3275580433em 2.0629395757em 5px hsl(278.9042932743, 100%, 50%), 2.1624747512em 1.4067918767em 5px hsl(205.9678099221, 100%, 50%), 1.1386229029em 0.9458627888em 5px hsl(317.0858603767, 100%, 50%), -0.3817061558em 1.1764941426em 5px hsl(112.583291491, 100%, 50%), 1.4636078373em -0.1080602981em 5px hsl(202.3071399733, 100%, 50%), 0.9104109429em 0.6634473495em 5px hsl(205.2627414893, 100%, 50%), 2.3848266666em -0.0485819857em 5px hsl(321.029400153, 100%, 50%), -0.4667110144em 0.7866898337em 5px hsl(206.2117906565, 100%, 50%), 0.763068526em 0.3020562191em 5px hsl(138.1275545342, 100%, 50%), 0.4526060098em 1.1378400522em 5px hsl(142.3631894109, 100%, 50%), -0.4880566821em 0.4279571181em 5px hsl(118.9956280658, 100%, 50%), 1.9885108991em -0.2982393848em 5px hsl(28.0662419531, 100%, 50%), 2.4363039625em 2.4942618928em 5px hsl(295.9316757781, 100%, 50%), 0.0664017474em 1.3403832508em 5px hsl(231.7841879647, 100%, 50%), -0.1229468221em 1.8254502749em 5px hsl(102.4396855131, 100%, 50%), 0.0386264222em 1.9423468261em 5px hsl(137.0381189199, 100%, 50%), 0.7507919757em 1.1752088739em 5px hsl(206.0292061627, 100%, 50%), -0.4863729067em 1.1823523438em 5px hsl(288.4563988731, 100%, 50%), 0.6772691555em -0.2865670686em 5px hsl(286.6649611748, 100%, 50%), 1.5282551492em 1.617224868em 5px hsl(127.5936811252, 100%, 50%), 2.11806638em 2.4807723102em 5px hsl(143.5399079358, 100%, 50%), 0.2690811817em 0.1887748653em 5px hsl(59.0576214976, 100%, 50%);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: -0.402940625em 0.8679779253em 5px hsl(318.9676359145, 100%, 50%), 1.2424634735em 2.3025924916em 5px hsl(343.4852125969, 100%, 50%), 2.487882458em 1.3512451378em 5px hsl(31.7000824523, 100%, 50%), 0.2475608728em -0.1239060033em 5px hsl(193.3518900679, 100%, 50%), 0.0537347284em 0.5476840725em 5px hsl(103.4473192219, 100%, 50%), 0.6858469701em 0.0448621552em 5px hsl(147.4366152348, 100%, 50%), -0.2616477046em 0.3194857445em 5px hsl(221.2254581655, 100%, 50%), 0.2125180575em -0.4742434122em 5px hsl(194.0696113735, 100%, 50%), 0.0279537364em 0.9446312882em 5px hsl(37.0856078846, 100%, 50%), 2.2745508745em 0.6536179477em 5px hsl(120.4855952423, 100%, 50%), 0.0036015918em 1.6045465946em 5px hsl(74.631614991, 100%, 50%), 0.0846052348em 0.8196005063em 5px hsl(154.0974023308, 100%, 50%), -0.1820102201em 0.8334348306em 5px hsl(295.4879689324, 100%, 50%), 2.1397425866em 0.636753555em 5px hsl(277.7264043523, 100%, 50%), 0.308130578em -0.2741831874em 5px hsl(297.1977933525, 100%, 50%), 2.2261168333em 1.0814121026em 5px hsl(103.6348981949, 100%, 50%), 0.1593009108em 2.4053772177em 5px hsl(78.7897382107, 100%, 50%), 1.6214082766em 2.1216208898em 5px hsl(190.8005873503, 100%, 50%), 1.4062130377em 0.9277821884em 5px hsl(91.0495637688, 100%, 50%), -0.177230071em 2.1905770581em 5px hsl(117.5714211503, 100%, 50%), 1.5780521733em 1.0967756806em 5px hsl(125.6704348824, 100%, 50%), 1.0265482637em -0.3332735899em 5px hsl(129.8825517545, 100%, 50%), -0.0990936379em 1.2808444187em 5px hsl(233.9966473148, 100%, 50%), 1.6101315695em 2.1867269155em 5px hsl(127.3030062464, 100%, 50%), 0.2671146375em 0.4352470621em 5px hsl(101.6627716728, 100%, 50%), -0.4437597944em 1.8892161354em 5px hsl(219.0430211346, 100%, 50%), 0.7156204762em 0.0956413057em 5px hsl(118.4218456656, 100%, 50%), 1.3890625646em 1.7320278745em 5px hsl(315.0468634386, 100%, 50%), 1.1037635226em 2.011540679em 5px hsl(292.1863990223, 100%, 50%), 2.1150246058em 2.1420527495em 5px hsl(52.3193023842, 100%, 50%), 1.0511394443em 0.422904111em 5px hsl(196.2041153368, 100%, 50%), 1.7984224577em 1.9002249885em 5px hsl(325.4002734319, 100%, 50%), 0.9547945292em -0.4627664344em 5px hsl(46.2813395055, 100%, 50%), 2.1037298018em 0.7595589252em 5px hsl(318.0670026558, 100%, 50%), 1.1568502247em 1.0613810715em 5px hsl(330.024185078, 100%, 50%), 1.6995733364em 0.2418644777em 5px hsl(323.6125682668, 100%, 50%), 1.3089920027em 1.0816864894em 5px hsl(1.6403152413, 100%, 50%), 2.4567300616em -0.457030298em 5px hsl(273.5423715488, 100%, 50%), 0.1474841699em 0.3842945379em 5px hsl(89.4649857475, 100%, 50%), -0.188347543em 0.4248655158em 5px hsl(62.9634821116, 100%, 50%), 1.2199969081em 0.7084484749em 5px hsl(226.0408401599, 100%, 50%);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
header button#event {
  z-index: 1;
  border: none;
  font-size: large;
  padding: 10px 25px;
  display: block;
  position: absolute;
  left: 40%;
  border-radius: 5px;
}
header #event:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease-in;
}
/* header a {
  z-index: 3;
} */

@keyframes slide {
  0% {
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out;
  }
  50% {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  100% {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
}
.container {
  padding: 2rem;
}

.slider_wrapper {
  position: relative;
  max-width: 28rem;
  margin: 0 auto;
}
.slider_wrapper .slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider_wrapper .slider::-webkit-scrollbar {
  display: none;
}
.slider_wrapper .slider img {
  display: block;
  flex: 1 0 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.slider_wrapper .slider_nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
/* .slider_wrapper .slider_nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
} */